html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}